{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Planning{% endblock %}

{# {% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %} #}

{% block main %}

<style>
.tab button.active {background-color: limegreen;}
</style>


 {# <h1>{{app.request.cookies.get('date')}}</h1>  #}

{# {{ dump(app.request.cookies) }} #}

<div class="d-flex"> 

     <div class="col-8">
          <div id='calendar'></div>
     </div>

     <div class="col-4"> 
          <div id="myDIV" class="border p-3  ms-4">
               <ul>
               {% for project in projects|sort((a, b) => a.name <=> b.name) %}
                    <li>
                         <span> {{ project.name}} ---- 
                         <span id="{{ project.id }}" class="text-secondary">{{ project.plannedHours }} </span> <!-- changement couleur -->
                         /{{ project.duration}} h ----</span>

                         {% set date = app.request.cookies.get('date')  %}
                         <a href=" {{ ea_url().setRoute('add_assignment', {id: project.id, date: date}) }} ">assign</a>
                         <ul>
                              {% for person in project.peopleWorkingOnIt %}
                              <li>{{ person.name }}</li>
                              {% endfor %}
                         </ul>
                    </li>
               {% endfor %}
               </ul>
          </div>
     </div>

</div>





<script>

 document.addEventListener('DOMContentLoaded', ()=> {
  
  const calendarEl = document.querySelector('#calendar');
  const modalEl =  document.querySelector('#schedule-add');

     function createCookie(name,value,days) {
     if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 *1000));
        var expires = "; expires=" + date.toGMTString();
     } else {
        var expires = "";
     }
        document.cookie = name + "=" + value + expires + "; path=/";
     }

     function eraseCookie(name) {
     createCookie(name,"",-1);
     }
  

     function showModal(date){

          var modalEl = document.getElementById("myDIV");
          if (modalEl.style.display === "none") {
               modalEl.style.display = "block";
          } else {
               modalEl.style.display = "none";
          }
     }

  const calendar = new FullCalendar.Calendar(calendarEl, {
     initialView: 'dayGridYear',
     editable: true,
  contentHeight: 600,
       buttonText: {
        today:false,
      },
     //height: "100%",
    //  weekNumbers : true,
     weekText : "",
     navLinks : false,
     contentHeight: 'auto',
     multiMonthMaxColumns: 1,
     weekends : false,
     dayHeaders : false ,
     handleWindowResize: true,
     moreLinkClick : "popover", // ?*   
     eventBackgroundColor : '#378006',
     eventDisplay : 'background',

     events: {{ json|raw }},

     dateClick: function(date, jsEvent, view) {   

          let selectedDate = date.dateStr;

          eraseCookie("date");
          createCookie("date", selectedDate);  
          
          location.reload();

          showModal()
     }

    });

    

  calendar.render();
  }); 
</script>

{% endblock %}

{% block javascripts %}

<script src='fullcalendar/dist/index.global.js'></script>
{% endblock %}

{# {% block importmap %}{{ importmap('app') }}{% endblock %} #}
