{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Planning{% endblock %}

{% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %}

{% block main %}


<div class="d-flex">

<div class="col-4">
     <h2>All projects</h2>
          <ul>
          {% for project in projects|sort((a, b) => a.name <=> b.name) %}
               <li>
                    <span> {{ project.name}} ---- 
                    <span id="{{ project.id }}" class="text-secondary">{{ project.plannedHours }} </span>
                    /{{ project.duration}} h ----</span>
                    <a href=" {{ ea_url().setRoute('app_assign', {id: project.id}) }} ">assign</a>
                    <ul>
                         {% for person in project.peopleWorkingOnIt %}
                         <li>{{ person.name }}</li>
                         {% endfor %}

                    </ul>
               </li>
          {% endfor %}
          </ul>

     </div>

     <div class="col-5">
          {% for person in people %}

               <h3 class="">{{ person.name }}</h3>
               <ul>
                    {% for assignment in person.assignments|sort((a, b) => a.project.name <=> b.project.name) %}
                    <li>
                         <span> {{ assignment.project.name}}, {{ assignment.date|date("d/m/Y")}}, {{ assignment.allotedTime}} h ----<!-- H:i:s --></span>
                         <a href=" {{ ea_url().setRoute('remove_assignment', {id: assignment.id}) }} ">remove</a>
                    </li> 
                    {% endfor %}
               </ul>
          {% endfor %}
     </div>
     
</div>






{# <div class="vh-100  p-0 m-0 col">
     <div class="" id='calendar'></div>
</div> #}

{% endblock %}
