{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Planning{% endblock %}

{# {% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %} #}

{% block main %}

<div id="myDIV" class="border p-3  ms-4">
     <ul>
     {% for project in projects|sort((a, b) => a.name <=> b.name) %}
          <li>
               <span> {{ project.name}} ---- 
               <span id="{{ project.id }}" class="text-secondary">{{ project.plannedHours }} </span> <!-- changement couleur -->
               /{{ project.duration}} h ----</span>

               {% set date = app.request.cookies.get('date')  %}
               <a href=" {{ ea_url().setRoute('add_assignment', {id: project.id, date: date}) }} ">assign</a>
               <ul>
                    {% for person in project.peopleWorkingOnIt %}
                    <li>{{ person.name }}</li>
                    {% endfor %}
               </ul>
          </li>
     {% endfor %}
     </ul>
</div>

<div class="container">

      <div class="d-flex">      
          {% for person in people %}
          <div class="col-4 px-2">  
               <h3>{{ person.name}} </h3>
               {% set calendarId = person.name %}
               <div id='{{ calendarId }}'></div>
          </div>
          {% endfor %}
     </div>


</div>



<script>

 document.addEventListener('DOMContentLoaded', ()=> {

// ------- COOKIES
     function createCookie(name,value,days) {
          if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days * 24 * 60 * 60 *1000));
          var expires = "; expires=" + date.toGMTString();
          } else {
          var expires = "";
          }
          document.cookie = name + "=" + value + expires + "; path=/";
     }

     function eraseCookie(name) {
          createCookie(name,"",-1);
     }



// ------- "MODAL"
     function showModal(date){

          var modalEl = document.getElementById("myDIV");
          if (modalEl.style.display === "none") {
               modalEl.style.display = "block";
          } else {
               modalEl.style.display = "none";
          }
     }

// ------- CALENDAR

 const people = ['Greg', 'Nico', 'Caro']

function displayCalendar(person){

     const calendarEl = document.querySelector('#'+person)

     const calendar = new FullCalendar.Calendar(calendarEl, {
     initialView: 'dayGridYear',
     editable: true,
     contentHeight: 600,
       buttonText: {
        today:false,
      },
     //height: "100%",
     weekText : "",
     navLinks : false,
     multiMonthMaxColumns: 1,
     weekends : false,
     dayHeaders : false ,
     handleWindowResize: true,
     eventBackgroundColor : '#378006',
     eventDisplay : 'background',
     events: {{ json|raw }},
     dateClick: function(date, jsEvent, view) {  
          let selectedDate = date.dateStr; 
          eraseCookie("date");
          createCookie("date", selectedDate);  
          location.reload(); // pb avec modal logiquement
          showModal()
     }
    });

     calendar.render();
    
}

 people.forEach((person) => displayCalendar(person));

  }); 

  


</script>

{% endblock %}

{% block javascripts %}

<script src='fullcalendar/dist/index.global.js'></script>
{% endblock %}

{# {% block importmap %}{{ importmap('app') }}{% endblock %} #}
